.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  font-size: 80px;
  font-weight: 800;
  color: blueviolet;
}
